<a [routerLink]="['/']">{{'title.home' | toTranslate}}</a> | 
<a [routerLink]="['about-us']">{{'title.aboutUs' | toTranslate}}</a>

<div>
  <router-outlet></router-outlet>
</div>
switch Language for function
<button (click)="switchLanguage('th')">TH</button>
<button (click)="switchLanguage('en')">EN</button>
<button (click)="switchLanguage('kh')">KH</button>
<hr>
switch Language for route
<button (click)="switchLanguageFormRoute('th')">TH</button>
<button (click)="switchLanguageFormRoute('en')">EN</button>
<button (click)="switchLanguageFormRoute('kh')">KH</button>